@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

.settings {
  background-repeat:no-repeat;
  float:left;
  font-family: 'Strait', sans-serif;
  font-size:20px;
  height:73px; 
  margin:0px;
  text-align: center;
  width:250px;
}

.fa-lg {
  font-size: 1em;
}

.fa {
  display: table-cell;
  font-size:20px;
  height: 36px;
  position: relative;
  text-align: center;
  top: 12px; 
  width: 55px;
}

.main-menu:hover, nav.main-menu.expanded {
  opacity: 1;
  overflow: hidden;
  width: 200px;
}

.main-menu {
  opacity:1;
  -webkit-transform:translateZ(0) scale(1,1);
  -webkit-transition:width .2s linear;
  background:#F7F7F7;
  bottom:0;
  box-shadow: 1px 0 15px rgba(0, 0, 0, 0.07);
  height:100%;
  left:0;
  overflow:hidden;
  position:absolute;
  top:0;
  transition:width .2s linear;
  width:55px;
}

.main-menu>ul {
  margin:40vh 0;
}

.main-menu li {
  display:block;
  position:relative;
  width:250px;
}

.main-menu li>a {
  -webkit-transform:translateZ(0) scale(1,1);
  -webkit-transition:all .14s linear;
  border-collapse:collapse;
  border-spacing:0;
  border-top:1px solid #f2f2f2;
  color:#8a8a8a;
  display:table;
  font-family: 'Strait', sans-serif;
  font-size: 13px;
  position:relative;
  text-decoration:none;
  text-shadow: 1px 1px 1px  #fff;  
  transition:all .14s linear;
  width:255px;
}

.main-menu .nav-icon {
  display:table-cell;
  font-size:18px;
  height:36px;
  position:relative;
  text-align:center;
  vertical-align:middle;
  width:55px;
}

.main-menu .nav-text  {
  display:table-cell;
  font-family: 'Titillium Web', sans-serif;
  position:relative;
  vertical-align:middle;
  width:190px;
}

.email {
  font-size: 11px;
}

.main-menu .fb-like {
  left: 180px;
  position:absolute;
  top: 15px;
}

.main-menu>ul.logout {
  bottom:0;
  left:0;
  position:absolute;
}

.no-touch .scrollable.hover {
  overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
  overflow-y:auto;
  overflow:visible;
}

nav {
  -moz-user-select:none;
  -ms-user-select:none;
  -o-user-select:none;
  -webkit-user-select:none;
  user-select:none;
}

nav ul,nav li {
  margin:0;
  outline:0;
  padding:0;
  text-transform: uppercase;
}

.logged{
  color: #8a8a8a;
}

.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
  background-color: #D0D0D0  ;
  color:#fff;
  text-shadow: 0px 0px 0px; 
}

.area {
  background: #e2e2e2;
  float: left;
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}
