<% if signed_in? %>

  <a data-method='delete' href="/sign_out">
    <i class="fa fa-sign-out fa-lg"></i>
    <span class="nav-text">Sign out</span>
  </a>

<% else %>

  <a href="/sign_in">
    <i class="fa fa-sign-in fa-lg"></i>
    <span class="nav-text">Sign in</span>
  </a>

<% end %>
